@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-red : hsl(0, 100%, 74%) ;
  --primary-blue : hsl(154, 59%, 51%);
  --accent-blue : hsl(248, 32%, 49%);
  --dark-blue :  hsl(249, 10%, 26%) ;
  --grayish-blue : hsl(246, 25%, 77%);
  --color-white : #fff;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  align-items : center;
  justify-content : center;
  background: url(./images/bg-intro-desktop.png) hsl(0, 100%, 74%);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

.main__container {
  display: flex;
  max-width: 1000px;
  height: 700px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.main__container .details__container {
  max-width : 400px;
  height: 700px;
  display: flex;
  align-items: center;
  color : var(--color-white);
  margin-right: 40px;
}

.main__container .details__container .details h1{
    color : var(--color-white);
    font-size : 40px;
    line-height: 45px;
    margin-bottom: 30px;
}

.main__container .details__container .details p {
  font-size: 14px;
  line-height: 20px;
}

.form__container {
  max-width : 450px;
  display: flex;
  flex-direction: column;               
  height : 700px;
  align-items: center;
  justify-content: center;
}

.form__container h4 {
  color : var(--color-white);
  background-color : var(--accent-blue);
  font-weight: 400;
  padding : 15px 20px;
  margin-bottom: 25px;
  box-shadow : 0px 10px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width : 100%;
  text-align: center;
}

.form__container h4 span {
  font-weight : 600;
}
  
.form__container .form {
    background-color : var(--color-white);
    width : 450px;
    border-radius: 5px;
    padding : 40px;
}

.form__container .form-control:not(:last-child) {
  margin-bottom: 15px;
}

.form__container .form-control input {
  width : 100%;
  padding : 13px 15px;
  border-radius: 5px;
  outline: none;
  border : none;
  border : 1px solid var(--grayish-blue);
  position: relative;
}
.form-control {
  position: relative;
}

.form__container .form-control .iconerror {
  position: absolute;
  top: 30px;
  right: 20px;
  display: none;
} 

.form__container .form-control .iconerror1 {
  position: absolute;
  top: 10px;
  right: 20px;
  display: none;
} 

.form__container .form-control .message {
  margin-right : auto;
  color : var(--primary-red);
  visibility: hidden;
}


.form-control.sucess input {
  border-color : #2ecc71; 
}

.form-control.error input {
  border-color: var(--primary-red); 
}

.form-control small {
  color: var(--primary-red);
  margin-top: 5px;
  margin-bottom: 15px;
  float: right;
  font-style: italic;
  font-weight: 400;
  visibility: hidden;

}
.form-control.error small {
  visibility: visible;
}

.form__container .form-control .message h6 {
 }
.form__container .form-control input::placeholder {
  font-weight: 600;
}

.form__container .form-control .button {
  background-color: var(--primary-blue);
  color : var(--color-white);
  cursor: pointer;
  box-shadow: 0px 2px 4px var(--grayish-blue);
  border: none;
  border : 1px solid var(--primary-blue);
}

.form__container .form-control .button:hover {
    color : #333;
    background-color: transparent;
}

.form__container  p {
  text-align : center;
  color : var(--grayish-blue);
  font-size : 10px;
}


.form__container .red {
  color: var(--primary-red);
}

/* mobile devices */

@media (max-width:700px) {
  body {
    background: url(./images/bg-intro-mobile.png) var(--primary-red);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 30px;
    text-align: center;
  }
  .main__container {
    flex-direction: column;
    width : 100%;
  }

  .main__container .details__container {
    width : 100%;
    height: 700px;
    display: flex;
    align-items: center;
    color : var(--color-white);
    margin-right: 0px;
  }
  
  .main__container .details__container .details h1{
      color : var(--color-white);
      font-size : 30px;
      line-height: 35px;
      margin-bottom: 30px;
  }
  
  .main__container .details__container .details p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom : 30px;
  }
  

  .form__container {
    width : 100%;
  }

  .form__container h4 {
    padding : 15px 75px;
  }
 .form__container .form {
    width: 100%;
  }
}

